@tailwind base;
@tailwind components;
@tailwind utilities;


#root{

    width: 100%;
    height: 100%;

}
:root{

    --blur-bg:#51afd123;
    --primary-white:#ffffff;  
    --blue2: #51aed1;
    --transparent: #ffffff00;
    --dark-blue-2: #003399;
    --darkblue:#010440;
    --green-color:#1FA00A;
    --purple-color:#5C0F87;
    --blue3:#01498499;
    --font-large: 18px;
    --font-normal: 18px;
    --font-small: 16px;
    --primary-btn-color1: ;




}


@font-face{
    font-family:"Roboto-semibold";
    src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family:"Roboto";
    src: url('../fonts/Roboto/static/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Roboto-bold";
    src: url('../fonts/Roboto/static/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family:"Roboto-italics";
    src: url('../fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf');
    font-weight: normal;
    font-style: italic;
}



@font-face{
    font-family:"Nunito-semibold";
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Nunito-bold";
    src: url('../fonts/Nunito/static/Nunito-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Nunito";
    src: url('../fonts/Nunito/static/Nunito-Light.ttf');
    font-weight: normal;
    font-style: normal;
}



@font-face{
    font-family:"Nunito-italics";
    src: url('../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: italic;
}

body{
    color: var(--darkblue);
    font-family: "Nunito";
   
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Roboto";
}


p{
    font-family: "Nunito";
    font-size: 18px;
    color: var(--darkblue);
}


.inovaya-title-heading-small h2 {

    font-size: 41px;
    font-family: "roboto";
    color: var(--darkblue);


}
.inovaya-title-heading h2 {

    font-size: 46px;
    font-family: "roboto";
    color: var(--darkblue);


}
.inovaya-title-heading h2 strong{

    font-size: 46px;
    font-style: italic;
    color: var(--blue2);
    

}

.container{
    padding: 0 12px;
}

/* btns */

.btn-primary {
    border-radius: 1.5rem;
    display: flex;
    gap: 0.5rem;
    position: relative;
    width: fit-content;
    background-color: rgba(163, 255, 167, 1); 
    font-family: 'Roboto-semisolid', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 0.75rem 22px;
    color: rgba(1, 4, 64, 1); 
    transition: background-color 1s ease, color 1s ease;
    overflow: hidden; 
    border: 2px solid transparent;
}

.btn-primary:hover {
    --tw-text-opacity: 1;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: rgba(3, 66, 93, .7);
    color: #b5ffb8;
    color: rgba(181, 255, 184, var(--tw-text-opacity));
    transition: background-color .3sease 0s, color .3sease 0s;
}

.btn-primary::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    border: 2px solid rgba(181, 255, 184, 1); 
    z-index: 1;
    --clock-hands-position: 100%; 
    -webkit-mask-image: conic-gradient(
        from 0deg,
        transparent var(--clock-hands-position),
        #000 var(--clock-hands-position)
    );
    mask-image: conic-gradient(
        from 0deg,
        transparent var(--clock-hands-position),
        #000 var(--clock-hands-position)
    );
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: --clock-hands-position 1s ease;
}

.btn-primary:hover::after {
    --clock-hands-position: 0%; 
}

.btn-primary::after {
    transition: --clock-hands-position 1s ease;
}

.btn-primary:not(:hover)::after {
    --clock-hands-position: 100%; 
}


  
  /* btn-reverse */
  
  .btn-reverse {
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 1.5rem;
    display: flex;
    font-family: 'Roboto-semibold', sans-serif;
    font-size: 0.875rem; 
    font-weight: 400;
    line-height: 1.25rem;
    padding: 0.75rem 22px;
    position: relative;
    width: fit-content;
    color: rgba(1, 4, 64, 1); 
    
    /* Blur effect */
    backdrop-filter: blur(5px);
    overflow: hidden;
  }
  
  .btn-reverse::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 2px solid transparent; 
    
    mask-image: conic-gradient(
        from 0deg,
        transparent 0%,
        transparent 100%
    );
    -webkit-mask-image: conic-gradient(
        from 0deg,
        transparent 0%,
        transparent 100%
    );
  
    transition: mask-image 1s linear, -webkit-mask-image 1s linear;
  }

  
  
  
  
  
  

  




.navLink{

    font-size: 16px;
    font-family: 'Roboto';

    
}


/* Footer */













/* Press */

/* Press-Hero-Banner */


